
label {
	width: 100%
}

.register-link {
	margin-top: 5px;
	float: right;
}

.checkbox-line {
	margin-top: 20px;
}

[type="checkbox"]
{
	display: inline-block;
	width: 1.1rem;
	height: 1.1rem;
	vertical-align: middle;
	margin-right: 5px;
}