
<div style="height:40px"></div>

<div class="container">
	<div class="row">
		<div class="col-md-4">

			<h3>Registration</h3>
			<br>
			<span *ngIf="registrationSuccessful === false">
				<span *ngIf="errorMsg">
					<p class="error-text">
						{{ errorMsg }}
					</p>
					<div style="height: 10px;"></div>
				</span>
				<div>
					<label>
						Username:
						<input [(ngModel)]="username"
								class="form-control"
								type="text" >
					</label>
				</div>
				<div>
					<label>
						Password:
						<input [(ngModel)]="password"
								class="form-control"
								type="password">
					</label>
					<label>
						Repeat Password:
						<input [(ngModel)]="repeatedPassword"
								class="form-control"
								type="password">
					</label>
				</div>

				<div style="height:10px;"></div>

				<button (click)="onRegister()" class="btn btn-sm btn-outline-dark">
					Registrieren
				</button>

				<span (click)="onLogin()" class="link login-link">
					Einloggen
				</span>
			</span>

			<span *ngIf="registrationSuccessful">
				<p class="success-msg">
					{{ successMsg }}
				</p>

				<div style="height: 10px;"></div>

				<div (click)="onLogin()" class="link">
					Weiter zum Login
				</div>
			</span>

		</div>
	</div>
</div>